#prompts-table td:first-of-type {
    display: flex;
}
#prompts-table td:last-of-type {
    min-width: 4em;
}

#prompts-table .actions {
    padding-left: 0;
}

input.valuesuggest-input.form-control {
    padding: .375rem .75rem;
}
.autocomplete-suggestions .autocomplete-suggestion {
    margin-left: 0;
}
